<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="pilsbot_system" params="name use_fake_hardware:=^|true">
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>pilsbot_driver/PilsbotDriver</plugin>
          <!-- FIXME: These parameters are currently ignored. -->
          <!-- also, especially the ports & retries, they would fit -->
          <!-- much better into a yaml file -->
          <param name="port" value="/dev/ttyS0"/>
          <param name="serial_connect_retries" value="30"/>
          <param name="wheel_radius" value="0.125"/>
          <param name="max_power" value="100"/>
          <param name="min_speed" value="40"/>
        </xacro:unless>
      </hardware>
      <joint name="front_wheel_left_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="front_wheel_right_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rear_wheel_left_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rear_wheel_right_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="steering_axle_joint">
        <state_interface name="position"/>
      </joint>
      <sensor name="hoverboard_api">
		<state_interface name="voltage"/>
		<state_interface name="avg_amperage_motor.0"/>
		<state_interface name="avg_amperage_motor.1"/>
		<state_interface name="tx_bufferlevel"/>
      </sensor>
      <sensor name="head_mcu">
		<state_interface name="steering_angle_raw"/>
		<state_interface name="endstop_l"/>
		<state_interface name="endstop_r"/>
      </sensor>
    </ros2_control>
  </xacro:macro>
</robot>
